.EmbeddedTweet {
    display: flex;
    flex-wrap: wrap;

    margin: $spacing-2 0;

    .twitter-tweet {
        width: 100% !important;
        @include breakpoint('small') {
            width: 500px !important;
        }
    }

    &__Left {
        justify-content: start;
    }

    &__Centre {
        justify-content: center;
    }

    &__Right {
        justify-content: end;
    }
}