.History {
    padding-top: 0.35rem;
    &_Element {
        position: relative;
        margin-top: $base-grid-height;
        margin-bottom: $base-grid-height * 2;
        display: flex;
        flex-wrap: nowrap;
    }
    &_MainBlock {
    }
    &_Title {
        @extend .history-title;
        color: $secondary-color;
        mix-blend-mode: exclusion;
        width: 100%;
    }
    &_Workplace {
        @extend .history-title;
        text-decoration: inherit;
        mix-blend-mode: color-dodge;
        flex-grow: 1;
        color: $secondary-color;
    }
    &_Date {
        @extend .meta;
        mix-blend-mode: exclusion;
        color: $secondary-color;
        z-index: 1;
        margin-right: $spacing-1;
    }
}