.IconCabinet {
    &_Title {
        @extend .history-title;
        color: $primary-color;
        mix-blend-mode: exclusion;
    }

    &_Track {
        display: flex;
        width: 100%;
    }

    &_Icon {
        margin-right: $spacing-1;
        @extend .history-title;
        mix-blend-mode: exclusion;

        color: $primary-color;

        &:hover {
            mix-blend-mode: color-dodge;
            text-decoration: none;

            .IconCabinet_Name {
                max-width: 200px;
                opacity: 1;
            }
        }
    }

    &_Name {
        position: absolute;
        display: inline-block;
        max-width: 0;
        white-space:nowrap; 
        overflow:hidden;
        opacity: 0.5;
        transition: all ease-in-out 0.4s;
        bottom: 0;
    }
}