.Hero {
    &_Wrapper {
        background: $primary-color;
        width: 100%;
        min-height: 100vh;
    }
    
    padding-top: $spacing-4;
    @include breakpoint('xlarge') {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &_Copy {
        @include breakpoint('xlarge') {
            width: 60%;
        }
        h1 {
            color: $secondary-color;
            mix-blend-mode: exclusion;
        }
    }

    &_Sidebar {
        margin-top: $spacing-2;
        @include breakpoint('medium') {
            display: flex;
            justify-content: space-between;
        }

        @include breakpoint('xlarge') {
            margin-top: 0;
            width: 38%;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &_History {
        @include breakpoint('medium') {
            width: 45%;
        }
        @include breakpoint('xlarge') {
            width: 100%;
        }
        padding-top: 0.35rem;
        margin-bottom: auto;
    }

    &_CabinetWrapper {
        @include breakpoint('medium') {
            width: 45%;
        }
        @include breakpoint('xlarge') {
            width: 100%;
        }
        margin-top: 1.2rem;
    }
    
    &_IconCabinet {
        margin-bottom: 1.85rem;
    }
}

.Works {
    h2 {
        mix-blend-mode: exclusion;
        color: $secondary-color;
    }
    &_Wrapper {
        background: $primary-color;
        padding: $spacing-4;
        min-height: 100vh;
    }
}