.Hero {
    padding-top: $spacing-4;
    &_Wrapper {
        background: $primary-color;
        padding: 0 $spacing-4;
        width: 100%;
        height: 100vh;
    }

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &_Copy {
        width: 60%;
        h1 {
            color: $secondary-color;
            mix-blend-mode: exclusion;
        }
    }

    &_Sidebar {
        width: 38%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }

    &_History {
        padding-top: 0.35rem;
        margin-bottom: auto;
    }

    &_IconCabinet {
        margin-bottom: 1.8rem;
    }
}

.Works {
    h2 {
        mix-blend-mode: exclusion;
        color: $secondary-color;
    }
    &_Wrapper {
        background: $primary-color;
        padding: $spacing-4;
        min-height: 100vh;
    }
}