$hoverModifier: ".PostPreview_Wrapper__Hover";
$element-height: 200px;
$element-height-t: 250px;
$element-height-d: 400px;

.PostPreview {

    &_Wrapper {
        pointer-events: none;
    }

    &_MediaBlock {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    &_TitleContainer {
        margin: 0 auto;
        width: fit-content;
        position: relative;
        z-index: 1;
    }
    
    &_Title {
        color: $primary-color;
        text-decoration-line: none;
        pointer-events: all;
        width: fit-content;

        &:hover {
            @extend .MultiColored;
            cursor: pointer;
            text-decoration-line: none;
        }

        &__Stroke {
            width: fit-content;
            text-decoration-line: none;
            mix-blend-mode: hard-light;
            color: transparent;
            position: absolute;
            -webkit-text-stroke: 2px transparent;
        }
        #{$hoverModifier} &__Stroke {
            @extend .MultiColored;
            text-decoration-line: none;
            transition: -webkit-text-stroke-width ease-in-out 0.2s;
            transition: -webkit-text-stroke-color ease-in-out 0.2s;
            -webkit-text-stroke: 1px white;
        }
    }

    &_MediaBackground {
        z-index: 1;
        pointer-events: none;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: all ease-in-out 0.2s;
        object-fit: cover;
        width:100%;
        #{$hoverModifier} & {
            opacity: 1;
            height: $element-height;
            @include breakpoint('small') {
                height: $element-height-t;
            }
            @include breakpoint('medium') {
                height: $element-height-d;
            }
        }
    }

    &_DescriptionBlock {
        @extend .container-narrow;
        position: relative;
        display: flex;
        justify-content: space-between;
        
        height:auto;
        max-height:0;
        opacity: 0;
        overflow:hidden;
        transition: all 0.2s ease-out;
        top: 70px;
        
        #{$hoverModifier} & {
            opacity: 1;
            padding-bottom: $spacing-2;
            max-height: 9999px;
            transform: translateY(10px);
            @include breakpoint('small') {
                transform: translateY(40px);
            }
            @include breakpoint('medium') {
                transform: translateY(80px);
            }
        }
    }

    &_ShortDescription {
        @extend .history-title;

        transition: all ease-in-out 0.2s;
        
        color: $primary-color;
        opacity: 0.5;
        
        #{$hoverModifier} & {
            opacity: 1;
            max-height: 9999px;
        }

    }

    &_Date {
        @extend .meta;
        color: $primary-color;

        margin-left: $spacing-2;
    }
}

// .PostPreview {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;

//     height: inherit;
//     width: fit-content;
//     text-align: center;

//     #{$hoverModifier} & {
//         z-index: 1;
//     }
//     &_Wrapper {
//         position: absolute;
//         width: 100%;
//         height: inherit;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         transform: translateY(-50%);

//         &__Hover {
//             height: $element-height;
//             @include breakpoint('small') {
//                 height: $element-height-t;
//             }
//             @include breakpoint('medium') {
//                 height: $element-height-d;
//             }
//         }
//     }

//     a {
//         text-decoration-line: none;
//     }

//     &_Title {
//         color: invert($primary-color);
//         width: fit-content;
//         mix-blend-mode: exclusion;

//         &:hover {
//             cursor: pointer;
//             text-decoration-line: none;
//         }

//         &__Stroke {
//             mix-blend-mode: hard-light;
//             color: transparent;
//             position: absolute;
//             -webkit-text-stroke: 2px transparent;
//         }
//         #{$hoverModifier} &__Stroke {
//             text-decoration-line: none;
//             transition: -webkit-text-stroke-width ease-in-out 0.2s;
//             transition: -webkit-text-stroke-color ease-in-out 0.2s;
//             -webkit-text-stroke: 1px white;
//             text-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
//         }
//     }

//     &_DescriptionBlock {
//         display: flex;
//         justify-content: space-between;

//         overflow:hidden;
//         transition: all 0.3s ease-out;
//         height:auto;
//         max-height:0;
//         padding: 0 10px;

//         @include breakpoint('medium') {
//             padding: 0 0;
//         }

//         #{$hoverModifier} & {
//             padding: 1rem 10px;
//             max-height: $element-height;
//             @include breakpoint('small') {
//                 max-height: $element-height-t;
                
//             }
//             @include breakpoint('medium') {
//                 max-height: $element-height-d;
//                 padding: 1rem 0;
//             }
//         }
//     }

//     &_ShortDescription {
//         @extend .history-title;

//         transition: all ease-in-out 0.2s;
        
//         color: $primary-color;
//         opacity: 0.5;
        
//         #{$hoverModifier} & {
//             opacity: 1;
//             max-height: 9999px;
//         }
//     }

//     &_Date {
//         @extend .meta;
//         color: $primary-color;

//         margin-left: $spacing-2;
//     }

//     &_MediaBackground {
//         position: absolute;

//         width: 100%;
//         pointer-events: none;
//         object-fit: cover;
        
//         opacity: 0;
//         transition: all ease-in-out 0.2s;

//         height: $element-height;
//         @include breakpoint('small') {
//             height: $element-height-t;
//         }
//         @include breakpoint('medium') {
//             height: $element-height-d;
//         }

//         #{$hoverModifier} & {
//             opacity: 1;
//             pointer-events: none;
//         }
//     }
// }