.PostPreview {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    text-align: center;

    &_Title {
        color: $primary-color;
        width: fit-content;
        mix-blend-mode: exclusion;
    }

    &_ShortDescription {
        color: $primary-color;
        mix-blend-mode: exclusion;
        width: fit-content;
        transform: translateY(-100%);
        transition: all ease-in-out 0.2s;
        opacity: 0;
    }

    &:hover {
        .PostPreview_ShortDescription {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}