$selector: '.TextCabinet';
$selected-class: '#{$selector}__selected';
$titlefont-modifer: '#{selector}__TitleFont';
.TextCabinet {
  position: relative;

  &_Title {
    @extend .history-title;
    display: inline-block;
    color: $primary-color;
    margin-bottom: -1.3rem;

    white-space:nowrap; 
    overflow:hidden;
    opacity: 1;
    transition: all ease-in-out 0.2s;

    #{$selected-class} & {
        opacity: 0;
    }
  }

  &_TechnologyTitle {
    @extend .history-title;
    display: inline-block;
    position: absolute;
    left: 0;

    color: $primary-color;

    max-width: 0;
    white-space:nowrap; 
    overflow:hidden;
    opacity: 0.5;
    transition: all ease-in-out 0.2s;

    #{$selected-class} & {
        max-width: 400px;
        opacity: 1;
    }
  }

  &_Track {
    width: 100%;
    list-style: none;
  }

  &_Element {
    font-weight: 400;
    margin-right: $spacing-1;
    padding-top: 0;

    color: $primary-color;
    &__Linked {
      &:hover {
        text-decoration: none;
      }
    }

    #{$titlefont-modifer} & {
      @extend .heading-4;
    }
  }
}