---
const { id } = Astro.props;
---

<blockquote class="twitter-tweet">
  <a href={ 'https://twitter.com/connorgm/status/' + id }></a> 
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
