.Hero {
    &_Wrapper {
        overflow: hidden;
        background: white;
        width: 100%;
        padding: $spacing-3 10px;

        @include breakpoint('medium') {
            padding-top: $spacing-4;
            padding-left: 0;
            padding-right: 0;
            min-height: 100vh;
            padding-bottom: 0;
        }
        
        @include breakpoint('xlarge') {
            padding-top: 0;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    @include breakpoint('xlarge') {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &_Copy {
        position: relative;
        font-weight: 600;
        word-wrap: none;
        @include breakpoint('small') {
            padding: 0;
        }
        h1 {
            color: invert($primary-color);
            mix-blend-mode: $text-mix-blend-mode;
        }

        a {
            @extend .MultiColored__Invert;
            mix-blend-mode: $text-mix-blend-mode;
        }

        .PerlinCanvas {
            position: absolute;
        }
    }

    &_Sidebar {
        margin-top: $spacing-3;
        @include breakpoint('small') {
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        @include breakpoint('xlarge') {
            margin-top: 0;
            width: 38%;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &_History {
        @include breakpoint('medium') {
            width: 45%;
        }
        @include breakpoint('xlarge') {
            width: 100%;
        }
        padding-top: 0.35rem;
        margin-bottom: auto;
    }

    &_CabinetWrapper {
        @include breakpoint('small') {
            padding-top: 1.2rem;
        }
        @include breakpoint('medium') {
            width: 45%;
            padding-top:1.3rem;
        }
        @include breakpoint('xlarge') {
            width: 100%;
            padding-top:0;
            padding-bottom: 0.5rem;
        }
    }
    
    &_IconCabinet {
        margin-bottom: 2.15rem;;
    }
}

.Blurb {
    border-top: $color-beige-light 1px solid;
    border-bottom: $color-beige-light 1px solid;
    padding-top: $spacing-3;
    padding-bottom: $spacing-3;
    &_Wrapper {
        background: white;
    }
}

.Works {
    &_Wrapper {
        padding-top: $spacing-2;
        padding-bottom: $spacing-2;
        @include breakpoint('medium') {
            padding-top: $spacing-4;
            padding-bottom: $spacing-4;
        }

        position: relative;
        background: $background-color;
        min-height: 100vh;
    }

    &_Title {
        text-align: center;
        margin-bottom: $spacing-2;
    }
}