$navbar-margin: 15px;

body {
  background: $body-background-color;
}

.Header {
  margin: 0 auto;

  &_Wrapper {
    width: 100%;
    top: 0;
    position: fixed;
    pointer-events: none;

    @include breakpoint('small') {
      mix-blend-mode: $text-mix-blend-mode;
    }

    &:before {
      z-index: -1;
      content: " ";
      top: 0;
      width: 100%;
      height: 80%;
      position: absolute;
      background: rgb(255,255,255);
      @include breakpoint('small') {
        background: none;
      }
    }

    &:after{
      z-index: -1;
      content: " ";
      top: 80%;
      width: 100%;
      height: 50%;
      position: absolute;
      background: rgb(255,255,255);
      @include scrimGradient('to bottom', white);
  
      @include breakpoint('small') {
        background: none;
      }
    }
  }  

  &_Title {
    a {
      @extend .heading-2;
      font-weight: 700;
      margin: 0;
      padding: 0;

      @extend a;
      color: invert($link-color-dark);

      &:hover {
        color: invert($link-color);
      }
    }
  }

  &_TextBlock {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 10px;
    @include breakpoint('medium') {
      margin: $spacing-2;
    }
    pointer-events: all;
  }
}

.Footer {
  margin-top: -10px; // Fixes hover on last issue scroll issue
  height: 210px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CopySandbox {
  padding: $spacing-1;
  &_Wrapper {
    display: none;

    background: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: $spacing-3;

    &__display {
      display: inline-block;
    }

    &:hover {
      background: white;
      cursor: pointer;
    }
  }  
}

#CopySandbox_Input {
  display: none;
}