.PostHeader {
  position: relative;
  height: 400px;

  &_Media {
    position: absolute;
    top:0; left:0; right:0;  bottom:0;
    width: 100%;
    height: 400px;
    pointer-events: none;
    object-fit: cover;
  }
  &_Title {
    @include center-absolute();
    color: $primary-color;
    width: fit-content;
    mix-blend-mode: exclusion;

    &__Stroke {
      @include center-absolute();
      mix-blend-mode: hard-light;
      color: transparent;
      -webkit-text-stroke: 1px transparent;
    }
  }
}