$selected-class: '.IconCabinet__Selected';
$navbar-modifier: '.IconCabinet__Navbar';

.IconCabinet {
    position: relative;

    &__Navbar {
        margin-left: $spacing-1;
    }
    
    &_Title {
        @extend .history-title;
        display: inline-block;
        color: $primary-color;
        
        white-space:nowrap; 
        overflow:hidden;
        opacity: 1;
        transition: all ease-in-out 0.2s;
        
        @include breakpoint('medium') {
            margin-bottom: -1.3rem;
        }
        
        #{$selected-class} & {
            opacity: 0;
        }
    }

    &_TechnologyTitle {
        @extend .history-title;
        display: inline-block;
        position: absolute;
        left: 0;

        color: $primary-color;
        // mix-blend-mode: exclusion;

        max-width: 0;
        white-space:nowrap; 
        overflow:hidden;
        opacity: 0.5;
        transition: all ease-in-out 0.2s;

        #{$selected-class} & {
            max-width: 400px;
            opacity: 1;
        }
    }

    &_Track {
        display: flex;
        width: 100%;
    }

    &_Icon {
        @extend .history-title;
        margin-right: $spacing-1;
        padding-top: 0;
        
        color: $primary-color;

        &:hover {
            text-decoration: none;
        }

        #{$navbar-modifier} & {
            @extend .base-text;
            margin-right: $spacing-0;
            @include breakpoint('small') {
            @include multicolored_invert;
            }
        }
    }
}