.PostPreviewListFilters {
  display: flex;
  overflow-x: scroll;
  @include breakpoint('xsmall') {
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  margin: $spacing-1 0 $spacing-2;

  &_Filter {
    cursor: pointer;
    background: white;
    border: $color-beige 1px solid;
    border-radius: 50px;
    white-space: nowrap;
    margin-bottom: $spacing-1;
    margin-right: $spacing-0;
    padding: 0 $spacing-0;

    @include breakpoint('xsmall') {
      margin-right: 1rem;
      padding: 0 1rem;
    }

    &:hover {
      box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }

    &__Active {
      color: white;
      border: transparent 1px solid;
      @include multicolored('background-color');
    }
  }

  &_Container {
    @extend .container-narrow;
  }
}