---
import Layout from '../layouts/Default.astro';
import Footer from '../components/Footer.astro';
---

<Layout description="Connor Guy Meehan Codes">
    <h1>Howdy!</h1>
    <p>
        This is a work in progress, please checkout my <a class="underline" href="./cv">CV</a>.  It's the only page that's done.
    </p>
    <Footer extraClass="absolute bottom-0 left-1/2 -translate-x-1/2 w-full" />
</Layout>
