---
const { bodyClass } = Astro.props;
---
<body class={'bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 ' + 
    'min-h-screen flex flex-col relative transition-all ' + 
    'print:container' +
    'sm:text-xl ' + bodyClass ?? ''}>
    <slot></slot>
</body>
<script>
    function getPreferredTheme() {
        if (import.meta.env.SSR) return 'light';

        const pickedTheme = window.localStorage.getItem('site-theme');
        if (pickedTheme) return pickedTheme;

        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        return prefersDark ? 'dark' : 'light';
    }
    console.log('theme: ', getPreferredTheme());
    if (getPreferredTheme() === 'dark') {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark');
    }
</script>
