---

---
<div id="shader-background-container">
    <canvas id="shader-background" />
</div>
<script>
/**
    const containerElement = document.getElementById('shader-background-container');
    if (!containerElement) return console.warn('ShaderBackground: Could not find "#shader-background-container" element.');
    const backgroundElement = document.getElementById('shader-background');
    if (!backgroundElement) return console.warn('ShaderBackground: Could not find "#shader-background" element.');

    const resizeObserver = new ResizeObserver((entries) => {

    });
    resizeObserver.observe(containerElement);

    import { ShaderBackground } from 'shader-background';
    const shaderCanvas = new ShaderBackground();
**/
</script>
