
.icon-github-logo:before { content: '\e800'; } /* '' */
.icon-twitter-logo:before { content: '\e801'; } /* '' */
.icon-openframeworks-logo:before { content: '\e802'; } /* '' */
.icon-c-sharp-logo:before { content: '\e803'; } /* '' */
.icon-cpp-logo:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-linkedin-logo:before { content: '\e806'; } /* '' */
.icon-react-logo:before { content: '\e807'; } /* '' */
.icon-opencv-logo:before { content: '\e809'; } /* '' */
.icon-p5-logo:before { content: '\e812'; } /* '' */
.icon-js-logo:before { content: '\e813'; } /* '' */